extends header 

block content
    h1.card-title #{title}
    .card-container
        if collections && collections.length
            each collection in collections
                .card-content
                    if collection.imageCRTCollection
                        img.card-img(src=`data:image/png;base64,${collection.imageCRTCollection.toString('base64')}` alt=collection.categoryName)
                    else
                        Img(class='card-img' src='/icono-camara-gris.png' alt='' id='imageCRTCollection')
                    .row-card-left
                        h3.title-card Categoría
                        p.text-card #{collection.categoryName}
                        h3.title-card Fecha de creación
                        p.text-card #{collection.registerDateFormatted}
                    .row-card-right
                        .card-container-btn
                            a(href=`/addCollection?categoryId=${collection.categoryId}` class='btn-add')
                                i.card-icon.material-symbols-outlined add_box
                            a(href='#' class='btn-visibility')
                                i.card-icon.material-symbols-outlined visibility
                            a(href='#' class='btn-delete')
                                i.card-icon.material-symbols-outlined delete
        else
            p No se encontraron colecciones.